.header{
    width: 100%;
    height: 450px;
    background: url('../../public/images/bg_top_mobile.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & p{
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
    }
}

.about{
    position: relative;
    background: url('../../public/images/bg_nosotros.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    &::before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 650px;
        background-color: #62c025;
        border-radius: 0px 300px 0px 0px;
        z-index: -1;
    }
    width: 100%;
    height: 1300px;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    & .box-about{
        width: 100%;
        height: 250px;
        background-color: white;
        border-radius: 5px;
        padding: 10px;
    }
    & img{
        margin-bottom: 30px;
    }
}
.text-truncate-multiline {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.brands{
    & .division{
        width: 100%;
        height: 2px;
        background-color: lightgrey;
        margin-bottom: 30px;
    }
}
.form-price{
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    background: url('../../public/images/servicios_m.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    &::before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 300px;
        background-color: #62c025;
        border-radius: 300px 0px  0px 0px;
        z-index: -1;
    }
}

.services{
    position: relative;
    padding: 20px 0px;
    min-height: 450px;
    overflow: hidden;
    & .box-services{
        background-color: white;
    }
    & .rounded-btn{
        border-radius: 100px;
        width: 38px;
        height: 38px;
    }
    & .service_algas_left{
        position: absolute;
        width: 180px;
        top: 50%;
        left: 5%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
    & .service_algas_rigth{
        position: absolute;
        width: 80px;
        top: 70%;
        right: -11%;
        transform: translate(-50%, -50%) scaleX(-1);
        z-index: -1;
    }
}
.header-servicios{
    background: url('../../public/images/servicios_m.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}
.bg-services{
    background: white;
}
.walink-absolute{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 10;
}
.footer{
    width: 100%;
    height: auto;
    background-color: gray;
    padding: 30px 0px;
}
.list-product{
    height: 340px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    & img{
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
}
.product-img-visualization{
    max-width: 575px;
    & img{
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}
.product-visualization-dashboard{
    & h1{
        font-weight: bold;
        margin-bottom: 10px;
    }

    & li {
        position: relative;
        padding: 10px 0 10px 30px;
        margin: 5px 0;
        border-left: 3px solid #62c025;
        background-color: #f8f9fa;
        &::before {
            content: "★";
            position: absolute;
            left: 8px;
            top: 50%;
            transform: translateY(-50%);
            color: #62c025;
            font-size: 16px;
            font-weight: bold;
        }
    }
}
@media(min-width: 768px){
    .header{
        background: url('../../public/images/bg_top_desktop.jpg');
        background-size: cover;
        & h1{
            font-size: 62px;
        }
        & p{
            font-size: 30px;
        }
    }
    .about{
        &::before{
            height: 300px;
        }
        height: 600px;
        & .box-about{
            height: 350px;
        }
        & img{
            margin-bottom: 30px;
        }
    }
    .services{
        & .service_algas_rigth{
            width: 123px;
            right: -8%;
        }
    }
    .footer{
        height: 375px;
    }
}

@media(min-width: 1200px){
    .header{
        height: 100vh;
    }
    .about{
        height: 100vh;
        & .box-about{
            height: 260px;
        }
    }
    .services{
        & .service_algas_left{
            position: absolute;
            width: 180px;
            top: 50%;
            left: 5%;
            transform: translate(-50%, -50%);
        }
        & .service_algas_rigth{
            position: absolute;
            width: 180px;
            top: 50%;
            right: -6%;
            transform: translate(-50%, -50%) scaleX(-1);
        }
    }
}